<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lawsyst">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchers"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".Filter_Result"></activity>
        <activity android:name=".EditTimeEntry" />
        <activity android:name=".EditMatter" />
        <activity
            android:name=".Matters_Notes"
            android:label="@string/title_activity_matters__notes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Matters_Tasks"
            android:label="@string/title_activity_matters__tasks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Matters_Ledger"
            android:label="@string/title_activity_matters__ledger"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Matters_Invoices"
            android:label="@string/title_activity_matters__invoices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Matters_Bills"
            android:label="@string/title_activity_matters__bills"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Matters_Time_Entries"
            android:label="@string/title_activity_matters__time__entries"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Matters_Communication"
            android:label="@string/title_activity_matters__communication"
            android:parentActivityName=".Home_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home_Activity" />
        </activity>
        <activity
            android:name=".Matters_Contacts"
            android:label="@string/title_activity_matters__contacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MatterDetails" />
        <activity
            android:name=".Home_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Filter_Matter_Screen" />
        <activity android:name=".AddTimeEntry" />
        <activity
            android:name=".Matters_Details"
            android:label="@string/title_activity_matters__details"
            android:parentActivityName=".Home_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home_Activity" />
        </activity>
        <activity android:name=".MattersDetailsScreen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>